iframe.roko-instabot-widget {
					  background: rgba(223, 215, 209, 0.2);
					  background-image: none;
					  ;
					}
					
					.roko-instabot-widget .head {}
					
					.roko-instabot-widget.full-screen .head {
					  border-bottom-width: 1px;
					}
					
					.roko-instabot-widget .head .head-logo {
					  background-image: none;
					  display: none;
					}
					
					.roko-instabot-widget .response {
					  background-color: #000000;
					  color: White;
					}
					
					.roko-instabot-widget .response .tail {
					  border-left-color: #000000;
					}
					
					.roko-instabot-widget .conversation .message .question {
					  background-color: Black;
					  color: #000000;
					}
					
					.roko-instabot-widget .conversation .message .question .tail {
					  border-right-color: Black;
					}
					
					.roko-instabot-widget .conversation .message .avatar {
					  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNqpcJrVmWKunVs627EleR_W6AIxvNPGlAbOfsRbwJ0CYc9fAtsg');
					}
					
					.roko-instabot-widget .conversation .message .avatar::after {
					  content: ""
					}
					
					.roko-instabot-widget .multi-select .options .option.selected,
					.roko-instabot-widget.mobile-view.more .multi-select .options .option.selected,
					.roko-instabot-widget .multi-select-mobile-options .option.selected {
					  background-color: Black;
					  border-color: Black;
					  box-shadow: 2px 4px 20px 0px #000000;
					  color: White;
					}
					/*.roko-instabot-widget .conversation .message.type-4 .actions-container .action .card-action .text { 						background-color: Black; 						color: rgb(139, 127, 116); 					}*/
					
					.roko-instabot-widget .conversation .message.type-3 .actions-container,
					.roko-instabot-widget .conversation .message.type-4 .actions-container,
					.roko-instabot-widget .conversation .message.type-3 .actions-container .action,
					.roko-instabot-widget .conversation .message.type-4 .actions-container .action .card-action,
					.roko-instabot-widget .conversation .message.type-4 .actions-container .action .card-box .card-info {}
					/*.roko-instabot-widget .conversation .message.type-3 .actions-container .action { 
